<div class="contact-footer">
	<h3>👋 Say hello&hellip;</h3>
	<p>Are you interested in working together? Would you like more information on the services I offer? Please don't hesitate to drop me a line on any of the following:</p>
	<ul>
		<li><strong>Phone:</strong> 0407 863 510</li>
		<li><strong>Email:</strong> <a href="mailto:dc@damon.com.au">dc@damon.com.au</a></li>
		<li><strong>Instagram:</strong> <a href="https://instagram.com/{{ site.instagram_username }}">@{{ site.instagram_username }}</a></li>
		<li><strong>Twitter:</strong> <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>

	</ul>
</div>