{% if site.twitter_username or site.instagram_username or site.facebook_username %}

<div class="social-links">
	{% if site.instagram_username %}
	<a href="https://instagram.com/{{ site.instagram_username }}" class="instagram-logo-svg" target="_blank">{% include instagram-logo.svg %}</a>
	{% endif %}

	{% if site.twitter_username %}	
  <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-logo-svg" target="_blank">{% include twitter-logo.svg %}</a>
  {% endif %}

	{% if site.facebook_username %}	
  <a href="https://facebook.com/{{ site.facebook_username }}" class="facebook-logo-svg" target="_blank">{% include facebook-logo.svg %}</a>
  {% endif %}

</div>
{% endif %}