$background: #fff;
$photo-main: #2AA9E0;
$design-main: #3BB24A;
$webdev-main: #66318F;


// tinted colours
$photo-tint: rgba(#2AA9E0,0.9);
$design-tint: rgba(#3BB24A,0.8);
$webdev-tint: rgba(#66318F,0.8);