$primary: #11144c;
$secondary: #3a9679;
$tertiary: #fabc60;
$highlight: #e16262;

// $primary: #207dff;
// $secondary: #00bd56;
// $tertiary: #85ef47;
// $highlight: #f9fd50;

// $primary: #11144c;
// $secondary: #3a9679;
// $tertiary: #fabc60;
// $highlight: #e16262;

// tinted colours
$photo-tint: rgba(#2AA9E0,0.9);
$design-tint: rgba(#3BB24A,0.8);
$webdev-tint: rgba(#66318F,0.8);