---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.serves %}
    <p>Serves: {{ page.serves }}</p>
  {% endif %}
  {% if page.prep-time %}
  <p>Prep time: {{ page.prep-time }}</p>
  {% endif %}
  {% if page.cook-time %}
  <p>Cooking time: {{ page.cook-time }}</p>
  {% endif %}

  {% if page.cuisine %}
  <div class="cuisine">
    <strong>Cuisine:</strong> {{ page.cuisine }}
  </div>
  {% endif %}

  <div class="ingredients">
    <h4>Ingredients</h4>
      {% for ingredients in page.ingredients %}
        {% if ingredients.title %}
          <h4>{{ ingredients.title }}</h4>
        {% endif %}
        <ul>
          {% for item in ingredients.list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
  </div>
  {{ content }}
</div>

<ul>
  {% for tag in page.tags %}
      <li> {{tag}} </li>
  {% endfor %}
  </ul>



{% if page.tags != empty %}
  <b>Tags:</b>
  {% for tag in page.tags %}
      <a href="tags/{{tag|slugify}}">{{ tag }}</a>
  {% endfor %}
{% endif %}